node_modules
.vs/doomer-djs/v16/.suo
.vs/Doomer/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Doomer.njsproj
Doomer.njsproj.user
Doomer.sln
bin/Microsoft.NodejsTools.WebRole.dll
obj/Debug/Doomer.njsproj.CoreCompileInputs.cache
obj/Debug/Doomer.njsproj.FileListAbsolute.txt
obj/Debug/Doomer.njsprojAssemblyReference.cache
